<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/activities.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true" />
        <param name="Threshold" value="ALL" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd-HH:mm:ss:SSS} - %-5p - %C{1} - %m%n" />
        </layout>
    </appender>
    <appender name="CA" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd-HH:mm:ss:SSS} - %-5p - %C{1} - %m%n" />
        </layout>
    </appender>
    <root>
        <level value="info" />
        <appender-ref ref="FILE" /> 	
        <appender-ref ref="CA" />
    </root>
</log4j:configuration>

